*{
		margin:0;
		padding:0;
		list-style: none;
	}
	img{
		display:block;
	}
	#wrap1,#wrap2{
		width:800px;
		height:200px;
		margin:50px auto;
		border:5px solid blue;
		position:relative;
		z-index: 6;
	}
	#wrap1 .box,#wrap2 .box{
		width:100%;
		height:100%;
		overflow:hidden;
		position:relative;
	}
	#wrap1 .box ul,#wrap2 .box ul{
		width:1000%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		z-index: 8;
	}
	#wrap1 .box ul li,#wrap2 .box ul li{
		width:200px;
		height:100%;
		float:left;
	}
	#wrap1 .box ul li img,#wrap2 .box ul li img{
		width:100%;
		height:100%;
	}
	#wrap1 span,#wrap2 span{
		width:40px;
		height:80px;
		background:rgba(0,0,0,.3);
		font-size:40px;
		font-weight:bold;
		color:#fff;
		position:absolute;
		top:50%;
		margin-top:-40px;
		z-index:10;
		line-height: 80px;
		text-align: center;
	}
	#wrap1 span.left,#wrap2 span.left{
		left:-40px;
	}
	#wrap1 span.right,#wrap2 span.right{
		right:-40px;
	}