BODY {
	FONT-SIZE: 12px; FONT-FAMILY: "풻"; BACKGROUND: #fff
}
.clear {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; OVERFLOW: hidden; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; CLEAR: both; BORDER-TOP-WIDTH: 0px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.clear {
	FONT-SIZE: 0px; OVERFLOW: hidden; CLEAR: both; LINE-HEIGHT: 0
}
.wrap {
	WIDTH: 1100px; MARGIN: auto
}
.MT20 {
	MARGIN-TOP: 20px
}
.ML20 {
	MARGIN-LEFT: 20px
}
.MR20 {
	MARGIN-RIGHT: 20px
}
.MB20 {
	MARGIN-BOTTOM: 20px
}
.top {
	HEIGHT: 30px; WIDTH: 100%; BACKGROUND: #e7e7e7; BORDER-BOTTOM: #d3d3d3 1px solid; COLOR: #777; LINE-HEIGHT: 30px
}
.top_nav_l {
	WIDTH: 500px; PADDING-LEFT: 5px
}
.top_nav_r {
	WIDTH: 400px; TEXT-ALIGN: right
}
.top_nav_r A {
	COLOR: #777
}
.header {
	HEIGHT: 90px; WIDTH: 100%
}
.header .logo {
	HEIGHT: 90px; WIDTH: 400px
}
.header .tel {
	HEIGHT: 90px; WIDTH: 220px; BACKGROUND: url(../images/tel.png)
}
.nav {
	BORDER-TOP: #010000 2px solid; HEIGHT: 40px; WIDTH: 100%; BACKGROUND: #191919; BORDER-BOTTOM: #010000 2px solid
}
.nav .wrap {
	OVERFLOW: hidden
}
.nav LI.nobg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.nav LI {
	FONT-SIZE: 14px; FONT-FAMILY: "풕턼환쥌"; WIDTH: 157px; BACKGROUND: url(../images/nav_li.jpg) no-repeat left center; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 40px
}
.nav LI A {
	HEIGHT: 40px; WIDTH: 125px; COLOR: #fff; DISPLAY: inline-block
}
.banner {
	HEIGHT: 540px; WIDTH: 100%
}
.focus {
	OVERFLOW: hidden; HEIGHT: 540px; WIDTH: 100%; POSITION: relative
}
.focus UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.focus LI {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.focus LI {
	DISPLAY: none
}
.focus .bg {
	HEIGHT: 30px; WIDTH: 100%; BACKGROUND: #000; POSITION: absolute; LEFT: 0px; FILTER: alpha(opacity=40); Z-INDEX: 1; BOTTOM: 0px; opacity: 0.4
}
.focus .f_btns {
	HEIGHT: 30px; WIDTH: 100%; POSITION: absolute; TEXT-ALIGN: center; LEFT: 0px; Z-INDEX: 2; LINE-HEIGHT: 30px; BOTTOM: 0px
}
.focus .f_btns H2 {
	FONT-SIZE: 16px; COLOR: #fff; LINE-HEIGHT: 30px
}
.focus .f_btns H2 A {
	COLOR: #fff
}
.focus .f_btns H2 A:hover {
	TEXT-DECORATION: none
}
.focus .f_btns .btn {
	HEIGHT: 30px; TEXT-ALIGN: center; PADDING-TOP: 12px; _padding-top: 12px
}
.focus .f_btns .btn SPAN {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 8px; WIDTH: 26px; BACKGROUND: #a1a1a1; MARGIN: 0px 5px; DISPLAY: inline-block
}
.focus .f_btns .btn SPAN.cur {
	BACKGROUND: #c93939
}
.focus .prev {
	CURSOR: pointer; HEIGHT: 55px; WIDTH: 55px; POSITION: absolute; LEFT: 0px; Z-INDEX: 3; DISPLAY: none; TOP: 160px
}
.focus .next {
	CURSOR: pointer; HEIGHT: 55px; WIDTH: 55px; RIGHT: 0px; POSITION: absolute; Z-INDEX: 3; DISPLAY: none; TOP: 160px
}
.focus .jqfocus LI {
	HEIGHT: 540px; WIDTH: 100%
}
.ipro {
	WIDTH: 100%; BACKGROUND: url(../images/pro_bg.jpg) no-repeat center bottom; PADDING-TOP: 40px
}
.ipro .tit {
	HEIGHT: 60px; BACKGROUND: url(../images/tit_124.png) no-repeat center 50%
}
.ipro .txt {
	PADDING-BOTTOM: 50px; PADDING-TOP: 40px
}
.ipro .txt .more {
	HEIGHT: 43px; WIDTH: 254px; BACKGROUND: url(../images/more.png) no-repeat; MARGIN: 50px auto auto; DISPLAY: block
}
.ipro_list {
	HEIGHT: auto; WIDTH: 265px; FLOAT: left; MARGIN: 0px 5px
}
.ipro_list_img {
	BORDER-TOP: #e5e5e5 1px solid; HEIGHT: 332px; BORDER-RIGHT: #e5e5e5 1px solid; WIDTH: 263px; BACKGROUND: #fff; BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e5e5e5 1px solid
}
.ipro_list_img IMG {
	HEIGHT: auto; WIDTH: 263px
}
.ipro_list_name {
	HEIGHT: 54px; TEXT-ALIGN: center; LINE-HEIGHT: 54px
}
.ipro_list_name A {
	FONT-SIZE: 13px; FONT-FAMILY: "풕턼환쥌"; COLOR: #4c4c4c
}
.iabout {
	HEIGHT: 520px; WIDTH: 100%; BACKGROUND: url(../images/abo_bg.jpg) no-repeat center bottom; TEXT-ALIGN: center; PADDING-TOP: 40px
}
.iabout .tit {
	HEIGHT: 60px; BACKGROUND: url(../images/tit2.png) no-repeat center 50%
}
.iabout .txt {
	FONT-FAMILY: "풕턼환쥌"; COLOR: #fff; TEXT-ALIGN: center; PADDING-TOP: 30px; LINE-HEIGHT: 36px
}
.iabout .txt A {
	COLOR: #fff
}
.iabout IMG {
	MARGIN-TOP: 30px
}
.inews {
	PADDING-TOP: 40px
}
.inews .tit {
	HEIGHT: 60px; BACKGROUND: url(../images/tit_123.png) no-repeat center 50%
}
.inews_list {
	OVERFLOW: hidden; MARGIN-TOP: 40px
}
.inews_list LI {
	MARGIN-BOTTOM: 30px; WIDTH: 540px; FLOAT: left
}
.inews_list LI.li_2 {
	FLOAT: right
}
.inews_list LI.li_4 {
	FLOAT: right
}
.inews_list LI .inew_img {
	FLOAT: left; MARGIN-RIGHT: 15px
}
.inews_list LI A.title {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 8px; FONT-FAMILY: "풕턼환쥌"; DISPLAY: block
}
.inews_list LI SPAN {
	MARGIN-BOTTOM: 8px; COLOR: #666; DISPLAY: block; LINE-HEIGHT: 27px
}
.inews_list LI A.more {
	COLOR: #a97927; DISPLAY: block
}
.link {
	BORDER-TOP: #b2b2b2 1px dashed; HEIGHT: 48px; COLOR: #666; LINE-HEIGHT: 48px
}
.link A {
	COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.main {
	PADDING-BOTTOM: 30px
}
.main .tit {
	BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 35px; TEXT-ALIGN: center; PADDING-TOP: 40px
}
.about {
	FONT-SIZE: 14px; FONT-FAMILY: "풕턼환쥌"; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 30px; PADDING-LEFT: 10px; LINE-HEIGHT: 30px; PADDING-RIGHT: 10px
}
.about P {
	TEXT-INDENT: 2em
}
.about IMG {
	MARGIN: 25px auto auto; DISPLAY: block
}
.icon {
	FONT-FAMILY: "풕턼환쥌"; WIDTH: 330px; MARGIN-TOP: 30px; FLOAT: left; LINE-HEIGHT: 30px
}
.icon IFRAME {
	DISPLAY: none
}
.map {
	WIDTH: 760px; MARGIN-TOP: 30px; FLOAT: right
}
#allmap {
	HEIGHT: 350px; WIDTH: 760px
}
.news_list {
	BORDER-BOTTOM: #f7f7f7 1px solid; PADDING-BOTTOM: 30px; PADDING-TOP: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.news_list .wrap {
	WIDTH: 1000px
}
.news_list .date {
	FONT-FAMILY: "풕턼환쥌"; WIDTH: 110px; FLOAT: left; TEXT-ALIGN: right
}
.news_list .date SPAN {
	FONT-SIZE: 34px; COLOR: #a97927; PADDING-TOP: 8px; DISPLAY: block
}
.news_list .date EM {
	FONT-SIZE: 16px; COLOR: #bdbdbd; PADDING-TOP: 5px; DISPLAY: block
}
.news_list .remaker {
	WIDTH: 860px; FLOAT: right
}
.news_list .remaker A SPAN {
	FONT-SIZE: 14px; FONT-FAMILY: "풕턼환쥌"; COLOR: #464646
}
.news_list .remaker A P {
	COLOR: #a5a5a5
}
.news_list:hover {
	BACKGROUND: #333
}
.news_list:hover .wrap {
	PADDING-RIGHT: 60px
}
.news_list:hover .date SPAN {
	COLOR: #fff
}
.news_list:hover .date EM {
	COLOR: #fff
}
.news_list:hover .remaker A SPAN {
	COLOR: #fff
}
.news_list:hover .remaker A P {
	COLOR: #fff
}
.news_con_title {
	FONT-SIZE: 16px; HEIGHT: 40px; MARGIN-TOP: 15px; FONT-WEIGHT: 800; TEXT-ALIGN: center; LINE-HEIGHT: 40px
}
.date {
	COLOR: #999; TEXT-ALIGN: center
}
.info {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 28px; PADDING-RIGHT: 10px
}
.sort {
	HEIGHT: 52px; WIDTH: 656px; MARGIN: 40px auto 10px
}
.sort LI {
	FONT-SIZE: 14px; HEIGHT: 50px; FONT-FAMILY: "풕턼환쥌"; WIDTH: 162px; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 50px
}
.sort LI {
	BORDER-TOP: #b5b5b5 1px solid; BORDER-RIGHT: #b5b5b5 1px solid; BORDER-BOTTOM: #b5b5b5 1px solid; MARGIN-LEFT: -1px; BORDER-LEFT: #b5b5b5 1px solid
}
.sort LI A {
	COLOR: #838383; DISPLAY: block
}
.sort LI.sort_list_1 {
	border-radius: 5px 0 0 5px
}
.sort LI.sort_list_4 {
	border-radius: 0 5px 5px 0
}
.pro_list {
	HEIGHT: auto; WIDTH: 265px; FLOAT: left; MARGIN: 0px 5px
}
.pro_list_img {
	OVERFLOW: hidden; BORDER-TOP: #e5e5e5 1px solid; HEIGHT: 263px; BORDER-RIGHT: #e5e5e5 1px solid; WIDTH: 263px; BACKGROUND: #fff; BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e5e5e5 1px solid
}
.pro_list_img IMG {
	
}
.pro_list_name {
	OVERFLOW: hidden; HEIGHT: 54px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: center; LINE-HEIGHT: 54px
}
.pro_list_name A {
	FONT-SIZE: 13px; FONT-FAMILY: "풕턼환쥌"; COLOR: #4c4c4c
}
.pro_txt {
	MARGIN-TOP: 40px; PADDING-BOTTOM: 40px
}
.proinfo {
	WIDTH: 420px; FLOAT: right; COLOR: #000; MARGIN-LEFT: 10px
}
.proinfo STRONG {
	FONT-SIZE: 16px; FONT-WEIGHT: 800; COLOR: #000
}
.proinfo A {
	COLOR: #000
}
.proinfo A:hover {
	COLOR: #999
}
.contt {
	BORDER-TOP: #ccc 1px dotted; BORDER-RIGHT: #ccc 1px dotted; BACKGROUND: #eee; BORDER-BOTTOM: #ccc 1px dotted; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 20px; BORDER-LEFT: #ccc 1px dotted; MARGIN: 10px 0px; LINE-HEIGHT: 25px; PADDING-RIGHT: 0px
}
.proproperty {
	HEIGHT: 41px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 50px; PADDING-RIGHT: 0px
}
.proproperty SPAN {
	HEIGHT: 41px; WIDTH: 274px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; MARGIN: 0px; DISPLAY: block; PADDING-RIGHT: 0px
}
.procontent {
	FONT-SIZE: 12px; BORDER-TOP: #f7f7f7 1px solid; FONT-FAMILY: "풕턼환쥌"; MARGIN-TOP: 40px; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 30px; PADDING-LEFT: 10px; LINE-HEIGHT: 30px; PADDING-RIGHT: 10px
}
.gbook {
	OVERFLOW: auto; WIDTH: 1100px; PADDING-BOTTOM: 20px; PADDING-TOP: 40px; PADDING-LEFT: 0px; MARGIN: auto; PADDING-RIGHT: 0px
}
#FormSave INPUT {
	OVERFLOW: auto; BORDER-TOP: #dcdcdc 1px solid; HEIGHT: 40px; BORDER-RIGHT: #dcdcdc 1px solid; WIDTH: 329px; BORDER-BOTTOM: #dcdcdc 1px solid; COLOR: #666; PADDING-LEFT: 15px; BORDER-LEFT: #dcdcdc 1px solid; LINE-HEIGHT: 40px; MARGIN-RIGHT: 25px; _display: inline-block
}
#FormSave INPUT:focus {
	OUTLINE-STYLE: none
}
#FormSave .Contact {
	
}
#FormSave .ContactWay {
	
}
#FormSave .FaqTitle {
	MARGIN: 0px
}
#FormSave .Content {
	BORDER-TOP: #dcdcdc 1px solid; HEIGHT: 200px; BORDER-RIGHT: #dcdcdc 1px solid; WIDTH: 1068px; MARGIN-TOP: 25px; BORDER-BOTTOM: #dcdcdc 1px solid; COLOR: #666; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; BORDER-LEFT: #dcdcdc 1px solid; LINE-HEIGHT: 26px; PADDING-RIGHT: 15px
}
#FormSave .Content:focus {
	OUTLINE-STYLE: none
}
#FormSave .code {
	MARGIN-TOP: 18px; FLOAT: left
}
#FormSave IMG {
	CURSOR: pointer; MARGIN-TOP: 35px; FLOAT: left
}
#FormSave .gbook_sub {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; CURSOR: pointer; HEIGHT: 42px; FONT-FAMILY: "풕턼환쥌"; BORDER-RIGHT-WIDTH: 0px; WIDTH: 320px; BACKGROUND: #910101; BORDER-BOTTOM-WIDTH: 0px; MARGIN-TOP: 18px; FLOAT: right; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; MARGIN-RIGHT: 0px
}
.line {
	BORDER-TOP: #f7f7f7 1px solid
}
.pagelink {
	HEIGHT: 26px; TEXT-ALIGN: center; MARGIN: 30px 0px; LINE-HEIGHT: 26px
}
.pagelink A {
	COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.pagelink SPAN {
	COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.pagelink A.on {
	COLOR: #999
}
.pagelink A:hover {
	COLOR: #999
}
.pagenav {
	BORDER-TOP: #f7f7f7 1px solid; MARGIN-TOP: 25px; TEXT-ALIGN: right; PADDING-TOP: 20px
}
.pagenav A {
	COLOR: #333
}
.pagenav A:hover {
	COLOR: #999
}
.footer {
	HEIGHT: auto; WIDTH: 100%; BACKGROUND: #000; COLOR: #999; TEXT-ALIGN: center
}
.foot_nav {
	BORDER-BOTTOM: #212121 1px solid; LINE-HEIGHT: 46px
}
.foot_nav A {
	COLOR: #999
}
.copyright {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; LINE-HEIGHT: 26px; PADDING-RIGHT: 0px
}
.copyright A {
	COLOR: #999
}
#ewm {
	POSITION: fixed; LEFT: 10px; Z-INDEX: 100; BOTTOM: 10px; _position: absolute
}
.ItemList {
	HEIGHT: auto; WIDTH: 990px; MARGIN: auto auto 50px
}
.ItemList SPAN {
	OVERFLOW: hidden; BORDER-TOP: #ddd 1px solid; HEIGHT: 100px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 100px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ddd 1px solid; MARGIN: auto; DISPLAY: block
}
.ItemList SPAN IMG {
	CURSOR: pointer; HEIGHT: auto; WIDTH: auto
}
#cxscroll_id {
	POSITION: relative
}
#cxscroll_id .box {
	OVERFLOW: hidden; WIDTH: 990px
}
#cxscroll_id .list {
	OVERFLOW: hidden; WIDTH: 999999px
}
#cxscroll_id .list LI {
	HEIGHT: 102px; WIDTH: 110px; FLOAT: left
}
#cxscroll_id .prev {
	CURSOR: pointer; HEIGHT: 60px; WIDTH: 32px; BACKGROUND: url(../images/prev.png); POSITION: absolute; LEFT: -52px; DISPLAY: inline-block; TOP: 34px
}
#cxscroll_id .next {
	CURSOR: pointer; HEIGHT: 60px; WIDTH: 32px; BACKGROUND: url(../images/next.png); RIGHT: -52px; POSITION: absolute; DISPLAY: inline-block; TOP: 34px
}
.wrap_box {
	HEIGHT: 500px; WIDTH: 990px; MARGIN: auto
}
.nv_but {
	POSITION: relative; Z-INDEX: 99999
}
.nv_but SPAN {
	FONT-SIZE: 0px; CURSOR: pointer; HEIGHT: 40px; WIDTH: 40px; BACKGROUND-IMAGE: url(../images/sub.png); BACKGROUND-REPEAT: no-repeat; POSITION: absolute; COLOR: #fff; TEXT-ALIGN: center; MARGIN: 10px; Z-INDEX: 999; TOP: 0px; BACKGROUND-COLOR: #e97021
}
.nv_but SPAN.da {
	BACKGROUND-POSITION: 0px 0px; LEFT: 0px
}
.nv_but SPAN.xi {
	BACKGROUND-POSITION: -40px 0px; LEFT: 50px
}
.ShowBox {
	OVERFLOW: hidden; BORDER-TOP: #eee 1px solid; HEIGHT: 500px; BORDER-RIGHT: #eee 1px solid; WIDTH: 800px; BORDER-BOTTOM: #eee 1px solid; FLOAT: left; BORDER-LEFT: #eee 1px solid
}
.ShowBox IMG {
	WIDTH: 100%
}
.DoorBorder:hover {
	BORDER-TOP: #366 1px solid; BORDER-RIGHT: #366 1px solid; BORDER-BOTTOM: #366 1px solid; POSITION: absolute; FILTER: alpha(opacity=10); BORDER-LEFT: #366 1px solid; Z-INDEX: 100; BACKGROUND-COLOR: #09f; opacity: 0.1; -moz-opacity: 0.1; -khtml-opacity: 0.1
}
.DoorBorder {
	POSITION: absolute; FILTER: alpha(opacity=1); Z-INDEX: 100; BACKGROUND-COLOR: #09f; opacity: 0.01; -moz-opacity: 0.01; -khtml-opacity: 0.01
}
.Door {
	POSITION: absolute; LEFT: 100px; Z-INDEX: 99; TOP: 100px
}
.Door SPAN {
	WIDTH: 100%; DISPLAY: block
}
.BgList {
	HEIGHT: 500px; WIDTH: 160px; FLOAT: right
}
.BgList SPAN {
	HEIGHT: 100px; WIDTH: 160px
}
.BgList SPAN IMG {
	CURSOR: pointer; HEIGHT: 99px; WIDTH: auto
}
#cxscroll_t {
	POSITION: relative
}
#cxscroll_t .box {
	OVERFLOW: hidden; HEIGHT: 500px
}
#cxscroll_t .list {
	
}
#cxscroll_t .list LI {
	HEIGHT: 100px
}
#cxscroll_t .prev {
	CURSOR: pointer; HEIGHT: 32px; WIDTH: 60px; BACKGROUND: url(../images/top.png); RIGHT: -75px; POSITION: absolute; DISPLAY: inline-block; BOTTOM: 40px
}
#cxscroll_t .next {
	CURSOR: pointer; HEIGHT: 32px; WIDTH: 60px; BACKGROUND: url(../images/down.png); RIGHT: -75px; POSITION: absolute; DISPLAY: inline-block; BOTTOM: 0px
}
